
* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
}

.logo{
    margin-top: 10px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    object-fit: cover;
}

.team-name{
    margin-bottom: 10px;
    font-size: 40px;
    display: inline-block;
}

nav{
    background-color: #413d3d;
    color: white;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

nav a{
    color: white;
    text-decoration: none;
    margin-right: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100;
    transition: color 0.5s;
}

nav a:hover{
    color: rgba(255, 255, 255, 0.42);
    text-decoration: underline;
}

nav a:active{
    transition: color 0.1s;
    color: rgb(112, 112, 156);
}